{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} Prestapic{% endblock %}</title>


    {% stylesheets filter='cssrewrite, sass, ?yui_css'
        '@AppBundle/Resources/public/css/style.sass'
        '@PPHeaderBundle/Resources/public/css/style.sass'
        '@PPUserBundle/Resources/public/css/style.sass'
        '@PPRequestBundle/Resources/public/css/style.sass'
        '@PPPropositionBundle/Resources/public/css/style.sass'
        '@PPPageBundle/Resources/public/css/style.sass'
        '@PPMessageBundle/Resources/public/css/style.sass' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}        

</head>

<body id="body">
    
    <div class="container">
        {# ALERT BANNER #}
        {% for flashMessage in app.session.flashbag.get('emailConfirmed') %}            
            {% if flashMessage == "success" %}
             <section id="alert-banner" class="alert-banner success" style='display: block; position: relative;'>
                <div class="content">
                    <strong id="alert-banner-strong">Well Done !</strong> 
                    <span id="alert-banner-span">You email is now confirmed</span>
                </div>
            </section> 
            {% endif%}
        {% endfor %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.emailConfirmed == false %}
            <section id="alert-banner" class="alert-banner warning" style='display: block; position: relative;'>
                <div class="content">
                    <strong id="alert-banner-strong">Warning</strong> 
                    <span id="alert-banner-span">You haven't confirm you email yet. Please check your email en click on the link</span>
                </div>
            </section>
        {% endif %}
        {% block header %}
        <header id="header" class="navbar">
                <div class="content" ng-app="headerApp">
                        {{ render(controller("PPHeaderBundle:Header:showHeader")) }}                                        
                </div>
        </header>
        {% endblock %}
        
        <section id="alert-banner" class="alert-banner">
        {# info success warning danger #}
            <div class="content">
                <strong id="alert-banner-strong"></strong> 
                <span id="alert-banner-span"></span>
            </div>
        </section>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <section id="messageApp" style="display:none;" class="overlay-messages">
            {{ render(controller("PPMessageBundle:Message:initMessageBox"))}}
        </section>
        {% endif %}

        <div id="containerApp">
            <base href=" " />
            {% block bellowHeader %}                     
            {% endblock %}  
            <section class="main">
                <div class="content">
                    {% block body %}
                    {% endblock %}
                    
                    <div id="sideInfo" class="sidebar">
                        {% block sideInfoTop %}

                        {% endblock %}

                        {% block sideInfo %}                                        
                            {{ render(controller("PPRequestBundle:Request:sideInfo")) }}                                        
                        {% endblock %}
                    </div>
                </div>
            </section>                                        
        </div>
                        
                                                    

        <footer>         
        </footer>
    </div>    
    
    <div id="signApp">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% else %}
        <base href=" " />
        <form action="{{ path("pp_user_api_register_get_register_form") }}" name="pp_user_api_register_get_register_form">
        </form>
        <section ng-controller="signController as sign" class="overlay sign" id="signInUpOver" style="display:none;" >
            <button class="button-close" id="signInUpOverClose" >×</button>
            <div class="overlay-content">                
                {{ render(controller("FOSUserBundle:Security:login"))}}                
                <div class="terms">
                    <p>
                        By clicking Sign Up, you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Data Policy</a>, including our <a href="#">Cookie Use</a>.
                    </p>
                </div>
            </div>
        </section>
        {% endif %}
    </div>
    
    {% include "::overlay.html.twig" %}
    
    {% block reportPopup %}
        {{ render(controller("PPReportBundle:Report:reportPopup")) }}
        <div id="reportPopupApp" ng-controller="reportController as report">                
        </div>
    {% endblock %}

    {% block propositionPopup %}        
        {{ render(controller("PPPropositionBundle:Proposition:propositionPopup")) }}        
    {% endblock %}
        
    
    <script type="text/javascript" src="http://alexandrejolly.com:3000//client.js"></script>                         
    
    {% javascripts filter='?yui_js''@AppBundle/Resources/public/js/jquery.min.js'
                                   '@AppBundle/Resources/public/js/angular.min.js'
                                   '@AppBundle/Resources/public/js/angular-route.min.js'
                                   '@AppBundle/Resources/public/js/angular-sanitize.min.js'                                                                                                        
    %}   
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}       
    
    {% block js %}                                         
    {% endblock %}

    {% javascripts filter='?yui_js''@PPRequestBundle/Resources/public/js/global.js'
                                   '@AppBundle/Resources/public/js/signApp.js'
                                   '@PPRequestBundle/Resources/public/js/tabindex.js' 
                                   '@PPHeaderBundle/Resources/public/js/headerApp.js'
                                   '@PPRequestBundle/Resources/public/js/lazyLoadDirective.js' 
                                   '@PPMessageBundle/Resources/public/js/messageApp.js'
                                   '@PPMessageBundle/Resources/public/js/elastic.js'
                                   '@PPPropositionBundle/Resources/public/js/popupController.js'
                                   '@PPReportBundle/Resources/public/js/reportApp.js'                                                                      
    %}   
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}           
    
    {% block fashbagJs %}
    {% endblock %}
</body>
</html>