{% if (proposition.image is not null) %}                    
        <div class="reply">
            <div class="prop">
                <img 
                bn-lazy-src="{{ asset(proposition.image.webPath("single")) }}"
                alt="{{ proposition.image.alt }}"
                />                
            </div>
            <a ng-click="propositions.showPopup({{ proposition.id }})" class="overlay" ng-href="{{ asset(proposition.image.webPath("original")) }}" title=""></a>
            {% if canSelectProposition == true %}
                    {{ form(selectPropositionForms[proposition.id]) }}
                <a class="selecting-prop" id="propositionSelect_{{ proposition.id }}" ng-click="propositions.postRequestSelect({{ proposition.id }})" href="" title="Select this picture">Select this picture</a>                
            {% endif %}
            <div class="img-title">                                
                <div class="infos">
                    {{ proposition.createdDate|date('F j, Y') }} by 
                    <a target="_self" class="author" href="{{ path('pp_user_profile', {'slug': proposition.author.slug}) }}" title="{{ proposition.author.name }}">{{  proposition.author.name }}</a>
                </div>
            </div>                             
            <div class="actions">               
                <a id="propositionUpvoteButton_{{ proposition.id }}"  href="" title="Up vote"
                    {% if  is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if app.user.id == proposition.author.id %}
                            class="count-vote blocked"
                        {% elseif canUpvoteProposition[proposition.id] == true %}
                            ng-click="propositions.postPropositionVote({{ proposition.id }})"
                            class="count-vote"
                        {% else %}
                            class="count-vote voted"
                        {% endif %}
                    {% else %}
                        class="count-vote blocked"
                    {% endif %}
                    >
                    {{ proposition.upvote }}
                </a>
            </div>            
        </div>                        
{% endif %}