
<form action="{{ path('pp_user_edit')}}" {{ form_enctype(editUserForm) }} method="POST" class="editProfileForm" >

    {{ form_errors(editUserForm) }}
    {{ form_row(editUserForm.coverImage) }}
    <div class="banner">
        <div id="coverImageContainer">
        {% if currentUser.coverImage != null %}
            <img src="{{ asset(currentUser.coverImage.webPath("1500x500")) }}" alt="{{ currentUser.coverImage.alt }}">
        {% endif %}
        </div>
        <div class="overlay"></div>
    </div>

    <div class="profile-details">
        <div class="avatar" id="profileImageContainer">
            <img src="{{ asset(currentUser.profilImage.webPath("70x70")) }}" alt="{{ currentUser.profilImage.alt }}">
            <div class="profile-avatar-editing">
                {{ form_widget(editUserForm.profilImage) }}
            </div>
        </div>
        <output id="list"></output>
        <h1 class="username">{{ form_row(editUserForm.name, {'attr':  {'placeholder': 'Name'}}) }}</h1>
        <p class="bio">{{ form_row(editUserForm.description, {'attr':  {'placeholder': 'Insert your bio here...', 'class': 'bio', 'rows': '3'}}) }}</p>
        <input class="button green" type="submit" value="Save" />
        <a id="cancelButton" class="button" ng-click="profile.cancelEditProfile()">Cancel</a>

        <ul class="details">
            <li>
                <strong>Following</strong>
                {% if currentUser.followingNb != null %}{{ currentUser.followingNb }}{% else %}0{% endif %}
            </li>
            <li>
                <strong>Followers</strong>
                {% if currentUser.followersNb != null %}{{ currentUser.followersNb }}{% else %}0{% endif %}
            </li>
            <li class="link">
                <a href="#" title="">{{ form_row(editUserForm.contact, {'attr':  {'placeholder': 'Website'}}) }}</a>
            </li>
        </ul>
    </div>
    {{ form_rest(editUserForm) }}
</form>