<div class="signin-form">
    <form action="{{ path("pp_user_api_get_username_exist") }}" name="pp_user_api_get_username_exist_form">
    </form>
    <form action="{{ path("pp_user_api_get_email_exist") }}" name="pp_user_api_get_email_exist_form">
    </form>
    <form  action="{{ path('pp_user_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        <div class="signin-username">
            {{ form_errors(form.username) }}            
            {{ form_widget(form.username, {'attr': {'class': 'username', 'placeholder': 'Username', 'ng-change':'sign.usernameTyping()', 'ng-model':'username'}}) }}
            {% verbatim %}
            <div id="signup_username_error" class="icon-container">
                <span>Success</span>
                <div class="sidepop">
                    <span>
                        {{ usernameMessage }}
                    </span>
                </div>
            </div>
            {% endverbatim %}
        </div>
        <div class="signin-email">
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'username', 'placeholder': 'Email', 'ng-change':'sign.emailTyping()', 'ng-model':'email'}}) }}
            {% verbatim %}
            <div id="signup_email_error" class="icon-container">
                <span>Danger</span>
                <div class="sidepop">
                    <span>
                        {{ emailMessage }}
                    </span>
                </div>
            </div>
            {% endverbatim %}
        </div>
        <div class="signin-pwds">
            {%  for passwordField in form.plainPassword %}
                {%  if loop.index == 1 %}
                <div class="signin-pwd">
                    {{ form_errors(passwordField) }}
                    {{ form_widget(passwordField, {'attr': {'class': 'password', 'placeholder': 'Password', 'ng-model':'firstPassword'}}) }}
                    {% verbatim %}
                    <div id="signup_password_one_error"class="icon-container">
                        <span>Danger</span>
                        <div class="sidepop">
                            <span>
                                {{ passwordOneMessage }}
                            </span>
                        </div>
                    </div>
                    {% endverbatim %}
                </div>
                {% else %}
                <div class="signin-pwd">
                    {{ form_errors(passwordField) }}
                    {{ form_widget(passwordField, {'attr': {'class': 'password', 'placeholder': 'Repeat password', 'ng-model':'secondPassword'}}) }}
                    {% verbatim %}
                    <div id="signup_password_two_error" class="icon-container">
                        <span>Danger</span>
                        <div class="sidepop">
                            <span>
                                {{ passwordTwoMessage }}
                            </span>
                        </div>
                    </div>
                    {% endverbatim %}
                </div>
                {% endif %}
            {% endfor %}

            {{ form_row(form.username) }}    
            {{ form_rest(form) }}
        </div>
        <div class="signin-left">
        </div>
        <div class="signin-right">
            <button type="submit" ng-click="sign.checkForm($event)" class="button red" id="" name="_submit">Sign up</button>
        </div>
    </form>
</div>
     


