{% if  is_granted("ROLE_USER") %}
    {% if  form is defined %}                             
        {{ form_start(form, {'attr': {'class': 'addRequestForm'}})  }}   
        <div class="box-comp">                                         
            {{form_row(form.title, {'attr':{'pattern': ".{3,90}"}})}}
            {{form_row(form.request, {'attr': {'rows': '15', 'minlength': "10"}})}}
            <div class="col-6">
                {{form_row(form.category)}}
            </div>
            <div class="col-6">
                {{form_row(form.tagsStr)}} 
            </div>
        </div>
        <div class="box-bottom">
            {{form_row(form.save)}}
        </div>
        {{ form_end(form) }}
    {% endif %}
{% endif %}