{% if  is_granted("ROLE_USER") %}
    {% if  editRequestForm is defined %}                             
        {{ form_start(editRequestForm, {'attr': {'class': 'addRequestForm'}})  }}   
        <div class="box-comp">                                         
            {{form_row(editRequestForm.title)}}
            {{form_row(editRequestForm.request, {'attr': {'rows': '15'}})}}
            <div class="comp-details">
                <div class="comp-details-item col-6">
                    {{form_row(editRequestForm.category)}}
                </div>
                <div class="comp-details-item col-6">
                    {{form_row(editRequestForm.tagsStr)}} 
                </div>
            </div>
        </div>
        <div class="box-bottom">
            {{form_row(editRequestForm.save)}}
        </div>
        {{ form_end(editRequestForm) }}
    {% endif %}
{% endif %}

