{% extends "PPRequestBundle::layout.html.twig" %}


{% block requestBody %}            
    
        <base href=" " />
        <div ng-controller="requestsController as requests" ng-init="requests.init({{ displayMode }}, {{ contentToDisplay }})">            
            
            
            {# display choose displayMode form #}
            <div class="main-top">
                <a ng-click="requests.updateMode(2)" id="mode_2" class="section {% if displayMode == 2 %}selected{% endif %}" selected href="" title="Most Popular">Most Popular</a>
                <a ng-click="requests.updateMode(1)" id="mode_1" class="section {% if displayMode == 1 %}selected{% endif %}" href="" title="Recent">Recent</a>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a ng-click="requests.updateMode(3)" id="mode_3" class="section {% if displayMode == 3 %}selected{% endif %}" href="" title="Follows">Follows</a>
                {% endif %}                              

                <div class="dropdown-container stopPropagation">
                    <a href="" id="contentToDisplaySelected" ng-click="requests.showContentToDisplayFilters()" class="dropdown-text">{% if contentToDisplay == 2 %}Propositions{% else %}Requests{% endif %}</a>

                    <ul class="dropdown-choices" style="z-index: 1; display: none;" id="contentToDisplayFilters">
                        <li class="dropdown-cat">
                            <div class="dropdown-cat-title">Requests</div>
                            <a ng-click="requests.update(3)" id="content_mode_3" class="dropdown-choice {% if contentToDisplay == 3 %}selected{% endif %}" selected href="" title="Pending">Pending requests</a>                            
                            <a ng-click="requests.update(4)" id="content_mode_4" class="dropdown-choice {% if contentToDisplay == 4 %}selected{% endif %}" href="" title="closed">Closed requests</a>                            
                        </li>
                        <li class="dropdown-cat">
                            <div class="dropdown-cat-title">Propositions</div>                            
                            <a ng-click="requests.update(2)" id="content_mode_2" class="dropdown-choice {% if contentToDisplay == 2 %}selected{% endif %}" href="" title="proposition">Galery of propositions</a>
                        </li>
                    </ul>
                </div>
            </div>            
            
            {{ form(loadRequestForm) }}
            {{ form(upvoteRequestForm) }}
            {{ form(upvotePropositionForm) }}
            
            
            <div id="loadPage1"></div>

            <div class="load-content"  id="loadingGif" >
                <span class="bubble"></span>
            </div>

        </div>
{% endblock %}

{% block js %}
    {% javascripts filter='?yui_js' '@PPRequestBundle/Resources/public/js/indexApp.js' %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}    
{% endblock %}