{% extends "PPRequestBundle::layout.html.twig" %}


{% block requestBody %}            
    
        <base href=" " />
        <div ng-controller="requestsController as requests" ng-init="requests.init({{ displayMode }})">            
            
            
            {# display choose displayMode form #}
            <div class="main-top">
                <a ng-click="requests.updateMode(2)" id="mode_2" class="section {% if displayMode == 2 %}selected{% endif %}" selected href="" title="Most Popular">Most Popular</a>
                <a ng-click="requests.updateMode(1)" id="mode_1" class="section {% if displayMode == 1 %}selected{% endif %}" href="" title="Recent">Recent</a>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a ng-click="requests.updateMode(3)" id="mode_3" class="section {% if displayMode == 3 %}selected{% endif %}" href="" title="Follows">Follows</a>
                {% endif %}
                
               <!-- <div class="select-style">                      
                    <select dir="rtl" id="contentToDisplaySelect" ng-change="requests.update()" ng-model="requests.contentToDisplay">
                        <option {% if contentToDisplay == 1 %}selected{% endif %} value="1">Request</option>
                        <option {% if contentToDisplay == 2 %}selected{% endif %} value="2">Proposition</option>
                    </select>
                </div> -->

                <div class="content-filter">
                    <a class="filter-selector">Requests</a>

                    <ul class="filter-choices">
                        <li class="filter-choices-cat">
                            <div class="filter-title">Requests</div>
                            <a class="filter-choice" href="">Pending requests</a>
                            <a class="filter-choice" href="">Closed requests</a>
                        </li>
                        <li class="filter-choices-cat">
                            <div class="filter-title">Propositions</div>
                            <a class="filter-choice" href="">Galery of propositions</a>
                        </li>
                    </ul>
                </div>
               
            </div>
            {% if haveSearchParam == false %}
                {#{{ include("PPRequestBundle:Request:addRequestForm.html.twig") }}#}
            {% endif %}
            
            {{ form(loadRequestForm) }}
            {{ form(upvoteRequestForm) }}
            {{ form(upvotePropositionForm) }}
            
            
            <div id="loadPage1"></div>

            <div class="load-content"  id="loadingGif" >
                <span class="bubble"></span>
            </div>

        </div>
{% endblock %}

{% block js %}
    {% javascripts filter='?yui_js' '@PPRequestBundle/Resources/public/js/indexApp.js' %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}    
{% endblock %}