
<div class="widget tags">
    <div class="widget-title">Tag trends </div>    
    <ul class="tag-list">
        {% for tag in popularTags %}    
            <li class="tag-item">
                <a target="_self" class="tag" href="{{ path('pp_request_homepage', {'page': 1, 'tags':tag.name }) }}" title="{{tag.usedNb}} request{% if tag.usedNb > 1 %}s{% endif %}">{{ tag.name }}</a>
            </li>            
        {% endfor %}
    </ul>
</div>
    
<div class="widget">    
    <div class="widget-title">Most active users</div>
    <ul class="users">
        {% for user in activeUsers %}    
            <li class="user">
                <a target="_self" href="{{ path('pp_user_profile', {'slug': user.user.slug}) }}" class="avatar">
                    <img src="{{ asset(user.user.profilImage.webPath("70x70")) }}" alt="{{ user.user.profilImage.alt }}">                    
                </a>
                <a target="_self" class="username" href="{{ path('pp_user_profile', {'slug': user.user.slug}) }}" title="" >{{ user.user.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
    
<div class="widget">    
    <div class="widget-title">Most popular subjects </div>
    <ul class="subjects">
        {% for imageRequest in imageRequests %}    
            <li class="subject">
                <a target="_self" class="title" href="{{ path('pp_request_view', {'slug': imageRequest.imageRequest.slug}) }}" title="">{{ imageRequest.imageRequest.title }}</a>
                <span class="author">
                    par
                    <a target="_self" href="{{ path('pp_user_profile', {'slug': imageRequest.imageRequest.author.slug}) }}" title="">{{ imageRequest.imageRequest.author.name }}</a>
                    {{ imageRequest.imageRequest.upvote }} upvotes
                </span>
            </li>
        {% endfor %}
    </ul>
</div>
    
<div class='widget footer'>
    <ul>        
        <li>
            <a target="_self" href='{{ url('page_help') }}' title="Privacy">Help Center</a>
        </li>
        <li>
            <a target="_self" href='{{ url('page_privacy') }}' title="Privacy">Privacy</a>
        </li>
        <li>
            <a target="_self" href='{{ url('page_terms') }}' title='terms'>Terms</a>
        </li>
        <li>
            <a target="_self" href='{{ url('page_cookies') }}' title='cookies'>Cookies</a>
        </li>
        <li>
            <a target="_self" href='{{ url('page_about') }}' title='about'>About</a>
        </li>
        <li>
            <a target="_self" href='{{ url('page_license') }}' title='License'>License</a>
        </li>
    </ul>
    <span class='copy'>Prestapic © 2015</span>
</div>