{% extends "PPRequestBundle::layout.html.twig" %}

{% block title %}
    {{ imageRequest.title }}
{% endblock %}

{% block requestBody %}
<div id="viewApp" >
<base href=" " />
    {% if imageRequest.enabled == true %}    
    <article class="request-single" ng-controller="requestController as request">
        <div class="request-container">
            
            <h1>{{ imageRequest.title }}</h1>
            
            {# upvote #}
            {% if canUpvoteImageRequest == true %}
                {{ form_start(upvoteRequestForm) }}            
                {{ form_end(upvoteRequestForm) }}
            {% endif %}
            <a id="imageRequestUpvoteButton_{{ imageRequest.id }}" href="" title="Up vote"
                {% if  is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if app.user.id == imageRequest.author.id %}
                        class="count-vote blocked"
                    {% elseif canUpvoteImageRequest == true %}                
                        ng-click="request.postRequestVote({{ imageRequest.id }})"
                        class="count-vote"
                    {% else %}
                        class="count-vote voted"
                    {% endif %}
                {% else %}
                    class="count-vote blocked"
                {% endif %}
            >
                {{ imageRequest.upvote }}
            </a>
            
            <div class="request-content">                
                <p>{{ imageRequest.request|nl2br }}</p>                
            </div>
            
            <div class="author-container">
            {# image request author avatar #}
                <a target="_self" href="{{ path('pp_user_profile', {'slug': imageRequest.author.slug}) }}" class="avatar">
                    <img bn-lazy-src="{{ asset(imageRequest.author.profilImage.webPath("70x70")) }}" alt="{{ imageRequest.author.profilImage.alt }}">
                </a>
                <span class="author-infos">
                    <span title="{{ imageRequest.createdDate|date('Y-m-d H:i:s') }}">{{ imageRequest.dateAgo }}</span> in                 
                    <a  target="_self" class="tag cat" href="{{ path('pp_request_homepage', { 'categories': imageRequest.category.id }) }}" >{{ imageRequest.category.name }}</a> by                 
                </span>
                <a target="_self" class="author-username" href="{{ path('pp_user_profile', {'slug': imageRequest.author.slug}) }}">{{ imageRequest.author.name }}</a>  
            </div>
                                                             
            {% set break = false %}
            <div class="tag-list">                
                {% for tag in imageRequest.tags if not break%}
                    <a target="_self" class="tag" href="{{ path('pp_request_homepage', { 'tags':tag.name }) }}">{{ tag.name }}</a>
                    {% if loop.index == 6  %}{% set break = true %}{% endif %}
                {% endfor %}
            </div>
        </div>        

        <div class="actions-container">
            <div class="actions-left">
                <a href="" class="action share">share</a>
            </div>
            {% if is_granted("ROLE_USER") %}
            <div class="actions-right">
                <a href="" class="action">ask clarification</a>
                <div class="dropdown-container stopPropagation">
                    <a ng-click="request.showMoreOption()" href="" class="action more">More</a>
                    <ul id="show_more_request_option" class="dropdown-choices" style="display: none;">
                        {% if isAuthor == true %}
                        <li class="dropdown-cat">
                            <span>
                                {{ form(getEditForm)}}  
                                <input class="dropdown-choice" type="submit" value="Edit" ng-click="request.getEditForm({{ imageRequest.id }})" title="Edit"/>
                            </span>
                            <span>
                                <input class="dropdown-choice" type="submit" value="Delete request" ng-click="request.postDisableRequest({{ imageRequest.id }})" />
                                {{ form(disableTicketForm) }}
                            </span>
                        </li>
                        {% else %}
                        <li class="dropdown-cat">
                            <a class="dropdown-choice" ng-click="request.showReportPopup({{ imageRequest.id }},1)" href="" title="Report">Report</a>   
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %} 
        </div>        
    </article> 
                 

        
    <article class="replies" ng-controller="propositionsController as propositions" ng-init="propositions.init({{imageRequest.id}})">

        {% if imageRequest.closed %}
        <div class="reply selected">
            <div class="prop">
              <img src="{{ asset(acceptedProposition.image.webPath("selected")) }}" alt="{{ acceptedProposition.title }}">
            </div>
            <a ng-click="propositions.showPopup({{ acceptedProposition.id }})" title="{{ acceptedProposition.title }}" class="overlay" ng-href="{{ asset(acceptedProposition.image.webPath("original")) }}" title=""></a>
            <a class="selecting-prop selected" href="#" title="Select this picture">Selected picture</a>
            <div class="img-title">
                <a href="{{ path('pp_user_profile', {'slug': acceptedProposition.author.slug}) }}" class="avatar">
                    <img src="{{ asset(acceptedProposition.author.profilImage.webPath("70x70")) }}" alt="{{ acceptedProposition.author.profilImage.alt }}">                    
                </a>
                <div class="infos">
                    {{ acceptedProposition.createdDate|date('Y-m-d') }} by 
                    <a class="author" href="{{ path('pp_user_profile', {'slug': acceptedProposition.author.slug}) }}" title="{{ acceptedProposition.author.name }}">{{  acceptedProposition.author.name }}</a>                
                </div>
            </div>
            <div class="actions">               
                <a id="propositionUpvoteButton_{{ acceptedProposition.id }}" 
                    {% if is_granted('ROLE_USER') and canUpvotePropositionSelected == true %}
                       ng-click="propositions.postPropositionVote({{ acceptedProposition.id }})"
                       class="count-vote"
                    {% else %}
                        class="count-vote voted"
                    {% endif %}  href="" title="Up vote">
                    {{ acceptedProposition.upvote }}
                </a>
            </div>
        </div>
        {% endif %}           

        <div id="propositions" >
            {{ form(loadPropositionForm) }}
            {{ form(upvotePropositionForm) }}
            <div id="loadPage1"></div>           
        </div>
        
        {% if imageRequest.propositionsNb > 6 %}
            <a style="display: none;" id="showMoreButton" class="more-replies" href="" ng-click="propositions.showMore()">load more</a>
        {% endif %}
        <div class="load-content"  id="loadingGif" >
                <span class="bubble"></span>
        </div>                
    </article>
    {% if is_granted("ROLE_USER") %}
        {% if not imageRequest.closed and imageRequest.author.id != app.user.id and canProposeImage == true %}
            <article ng-controller="uploadController as upload" class="add-prop">  
                <div class="title-boxe">Add your proposition</div>
                {{ form_start(propositionForm) }}
                <div class="dragzone" id="dragzone_proposition">
                    <div class="dragzone-uploaded" id="dragzoneUploaded" style="display: none;">
                        <div class="banner" id="uploaded_proposition"></div>
                        <div class="overlay">
                            <a href="" ng-click="upload.cancelDragZoneUpload()" class="button-close">×</a>
                        </div>
                    </div>
                    <div class="dragzone-upload">
                         {{ form_row(propositionForm.image) }}
                         <p><strong class="choose">Choose an image</strong> or drag it/click here</p>
                    </div>
                </div>
                <span>By clicking « upload photo » you accept our <a href="">terms</a> again.</span>
                <button ng-click="upload.submitForm()" class="button" type="submit">Upload image</button>
                {{ form_end(propositionForm) }}
            </article>
        {% endif %}    
    
    <article class="comments" ng-controller="commentsController as comments" ng-init="comments.init({{ imageRequest.id }})">
        {{ form(getCommentForm) }}
        {% verbatim %}
        <div class="title-section">{{ commentThread.commentNb }} comments</div>
        {% endverbatim %}
        <ul class="list-comments">
            {% verbatim %}
            <li class="comment" ng-repeat="comment in commentList">
                 <a target="_self" class="avatar" href="{{ comment.author.url }}" title="">
                     <img ng-src="{{ comment.author.image }}" alt="{{ comment.author.name }}">                    
                 </a>
                 <div class="comment-container">
                     <a target="_self" class="username" href="{{ comment.author.url }}" title="">{{ comment.author.name }}</a>
                     <div class="comment-content">
                         {{ comment.content }}
                     </div>
                 </div>
            </li>
            {% endverbatim %}
            {% if is_granted("ROLE_USER") %}
            <li class="comment">
              {{ form(postCommentForm) }}
              <form  ng-submit="comments.postComment({{ imageRequest.id }})">
                <a target="_self" class="avatar" href="{{ path('pp_user_profile', {'slug': currentUser.slug}) }}" title="">
                  <img src="{{ asset(currentUser.profilImage.webPath("70x70")) }}" alt="{{ currentUser.name }}">
                </a>
                <div class="composer-container">
                  <textarea ng-model="comment.content" class="comment-composer" placeholder="Type your comment here..." row="1" type="text"></textarea>
                  <button class="button-comment" type="submit">Send</button>
                </div>
              </form>
            </li>
            {% endif %}
        </ul>
    </article>
    {% endif %}
            
    {% else %}
        {# if image request disabled #}
        <h2>This image request have been deleted</h2>
        <p>reason : {{ imageRequest.disableTicket.reason.name }}</p>
        <p>Details : {{  imageRequest.disableTicket.details }}</p>
    {% endif %}
</div>
              
{% endblock %}


{% block js %}
    {% javascripts filter='?yui_js' '@PPRequestBundle/Resources/public/js/viewApp.js' %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}    
{% endblock %}