{% extends "PPRequestBundle::layout.html.twig" %}

{% block title %}
    {{ imageRequest.title }}
{% endblock %}

{% block requestBody %}
<div id="viewApp" >
<base href=" " />
    {% if imageRequest.enabled == true %}
    <article class="demand" ng-controller="requestController as request">
        
        <a href="{{ path('pp_user_profile', {'slug': imageRequest.author.slug}) }}" class="avatar">
            <img src="{{ asset(imageRequest.author.profilImage.webPath("70x70")) }}" alt="{{ imageRequest.author.profilImage.alt }}">                    
        </a>                                       
        
        <div id="requestContent" class="infos">          
            <h1>
                <a href="">{{ imageRequest.title }}</a>                
                <a id="imageRequestUpvoteButton"  href="" title="Up vote"
                    {% if canUpvoteImageRequest == true %}
                        ng-click="request.postRequestVote({{ imageRequest.id }})"
                        class="upvote-demand"
                    {% else %}
                        class="upvote-demand voted"
                    {% endif %}
                   >
                        {{ imageRequest.upvote }}
                </a>
                {% if canUpvoteImageRequest == true %}
                    {{ form_start(upvoteRequestForm) }}            
                    {{ form_end(upvoteRequestForm) }}
                {% endif %}
            </h1>
            <div class="author single">
                Publié par
                <a href="{{ path('pp_user_profile', {'slug': imageRequest.author.slug}) }}" title="">{{ imageRequest.author.name }}</a>
                dans
                <a href="{{ path('pp_request_homepage', { 'search_query':imageRequest.category.name}) }}" title="">{{ imageRequest.category.name }}</a>
            </div>

            <div class="content-single">
                <p> {{ imageRequest.request }} </p>    
            </div>

            <div class="tag-list">
                <a  target="_self" class="tag cat" href="{{ path('pp_request_homepage', { 'categories': imageRequest.category.name }) }}" >{{ imageRequest.category.name }}</a>
                {% for tag in imageRequest.tags %}
                    <a class="tag" href="{{ path('pp_request_homepage', {'tags':tag.name}) }}" title="">{{ tag.name }}</a>
                {% endfor %}
            </div>
            
            {# edit request form #}
            {% if isAuthor == true %}
                    {{ form_start(getEditForm)}}
                        
                    {{ form_end(getEditForm)}}
                    <input type="submit" value="Edit" ng-click="request.getEditForm({{ imageRequest.id }})" />
            {% endif %}    
            
        </div>
        <div id="editRequestContent">
        </div>
        
        
        {# report and delete image request form #}
        {% if is_granted("ROLE_USER") %}
            {% if imageRequest.author.id == currentUser.id %}
                <input type="submit" value="Delete request" ng-click="request.postDisableRequest({{ imageRequest.id }})" />
                {{ form(disableTicketForm) }}
            {% elseif is_granted("ROLE_MODERATOR") %}                
                <form ng-model="request.reportData" ng-submit="request.postDisableRequest({{ imageRequest.id }})" >
                    <select ng-model="request.reportData.reasonId">
                    {% for reason in reportReasonList %}
                        <option value="{{ reason.id }}">{{ reason.name }}</option>
                    {% endfor %}
                    </select>
                    <textarea ng-model="request.reportData.details">More details...</textarea>
                    <input type="submit" value="Delete"/>
                </form>
                {{ form(disableTicketForm) }}                                                
            {% else %}
                <form ng-model="request.reportData" ng-submit="request.postReport({{ imageRequest.id }})" >
                    <select ng-model="request.reportData.reasonId">
                    {% for reason in reportReasonList %}
                        <option value="{{ reason.id }}">{{ reason.name }}</option>
                    {% endfor %}
                    </select>
                    <textarea ng-model="request.reportData.details">More details...</textarea>
                    <input type="submit" value="send report"/>
                </form>
                {{ form(reportTicketForm) }}            
            {% endif %}
        {% endif %}                
    </article> 

    <div class="replies" ng-controller="propositionsController as propositions" ng-init="propositions.init({{imageRequest.id}})">

        {% if imageRequest.closed %}
        <div class="reply selected">
            <div class="prop">
              <img src="{{ asset(acceptedProposition.image.webPath("original")) }}" alt="{{ acceptedProposition.image.alt }}">
            </div>
            <a class="overlay" href="{{ asset(acceptedProposition.image.webPath("original"))}}"" title=""></a>
            <a class="selecting-prop selected" href="#" title="Select this picture">Selected picture</a>
            <div class="img-title">
                <a href="{{ path('pp_user_profile', {'slug': acceptedProposition.author.slug}) }}" class="avatar">
                    <img src="{{ asset(acceptedProposition.author.profilImage.webPath("70x70")) }}" alt="{{ acceptedProposition.author.profilImage.alt }}">                    
                </a>
                <div class="infos">
                <div class="name">{{ acceptedProposition.title }}</div>                   
                    <div class="author">
                        by
                        <a href="{{ path('pp_user_profile', {'slug': acceptedProposition.author.slug}) }}" title="">{{  acceptedProposition.author.name }}</a>
                    </div>
                </div>
            </div>
            <div class="actions">               
                <a id="propositionUpvoteButton_{{ acceptedProposition.id }}" 
                    {% if is_granted('ROLE_USER') and canUpvotePropositionSelected == true %}
                       ng-click="propositions.postPropositionVote({{ acceptedProposition.id }})"
                       class="count-vote"
                    {% else %}
                        class="count-vote voted"
                    {% endif %}  href="" title="Up vote">
                    {{ acceptedProposition.upvote }}
                </a>
            </div>
        </div>
        {% endif %}

        <div id="propositionForm"  >
           {% if is_granted("ROLE_USER") %}
               {% if not imageRequest.closed and imageRequest.author.id != app.user.id %}
                   {{ form(propositionForm) }}
               {% endif %}
           {% endif %}
        </div>  

        {#<h2 class="more-replies">Il y a {{ imageRequest.propositionsNb }} autres propositions</h2>#}

        <div id="propositions" >
            {{ form(loadPropositionForm) }}
            {{ form(upvotePropositionForm) }}
            <div id="loadPage1"></div>                  
        </div>
        
        <div class="load-content"  id="loadingGif" >
                <span class="bubble"></span>
        </div>      
    </div>
            
    {% else %}
        {# if image request disabled #}
        <h2>This image request have been deleted</h2>
        <p>reason : {{ imageRequest.disableTicket.reason.name }}</p>
        <p>Details : {{  imageRequest.disableTicket.details }}</p>
    {% endif %}
    
</div>
    
          
{% endblock %}


{% block js %}
    {% javascripts filter='?yui_js' '@PPRequestBundle/Resources/public/js/viewApp.js' %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}    
{% endblock %}