<form ng-controller="filtersController as filters" name="pp_request_homepage_form" novalidate ng-submit="filters.submitForm()" >
    <input type="hidden" name="search_action" value='{{ url('pp_request_homepage', {}, true) }}' />
    
    <input ng-focus="header.showSearchOptions()" name="name" type='text' class="main-search stopPropagation" ng-model='filters.searchQuery' searchQueryname='search_query' placeholder="Find a picture on Prestapic..." />
       
    <div style="display:none;" id="searchUser" class="stopPropagation">search users : <a href="{{ path('pp_user_search') }}?name={% verbatim %}{{ filters.searchQuery }} {% endverbatim %}" >{% verbatim %}{{ filters.searchQuery }}{% endverbatim %}</a></div>

    <ul style="display: none;" id="searchOptions" class="search-options stopPropagation" >
        <li class="option">
            <a id="filterButton" ng-click="header.showFilterList()" class="filters" href="" title="Filters"></a>
        <div id="filterList" class="dropdown filters fixeBodyHover" >
            <div class="dropdown-caret">
                <span class="caret-outer"></span>
                <span class="caret-inner"></span>
            </div>
            <div class="filters-type">
                <div class="dropdown-title">Search filters</div>
                <ul class="list-filters">
                    <li class="filter-group">
                        <a id="filtersCatButton" ng-click="filters.showFiltersCat()" class="open" href="#">Categories</a>
                    </li>
                    <li class="filter-group">
                        <a id="filtersTagsButton" ng-click="filters.showFiltersTags()" href="#">Tags</a>
                    </li>
                    {% if is_granted("ROLE_USER") %}
                    <li class="filter">
                        <input ng-model="filters.conceringMe" id="me" name="me" type="checkbox">
                        <label for="me">Concerning me</label>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div class="filter-cat" id="filtersCat">
                <div class="dropdown-title">Choose categories</div>
                <ul class="list-filters">

                    {% for category in categories %}
                    <li class="filter">
                        <input id="cat_{{category.id}}" ng-click="filters.addCategory({{category.id}}, '{{ category.name }}')" name="{{ category.id }}" type="checkbox">
                        <label for="cat_{{ category.id }}">{{ category.name }}</label>
                    </li>
                    {% endfor %}

                </ul>
            </div>

            <div class="filter-tags" id="filtersTags">
                <div class="dropdown-title no-shadow">Choose tags</div>        
                <div class="sugg-title">Suggestions</div>
                <ul class="sugg-tags">
                    {% for tag in tags %}
                    <li class="sugg">
                        <a id="tag_{{tag.id}}" ng-click="filters.addTag({{tag.id}}, '{{ tag.name }}')" href="">{{ tag.name }}</a>
                    </li>
                    {% endfor %}            
                </ul>
                <input ng-model="filters.tagsListStr" class="list-tags" placeholder="Tags here..." type="text">
                <small class="comment">Separate tags with commas.</small>        
            </div>    
        </div>
        </li>
        <li class="option">                        
            <button type="submit" class="go-search" ></button>
        </li>
    </ul>                
</form>