<form ng-controller="filtersController as filters" name="pp_request_homepage_form" novalidate ng-submit="filters.submitForm()" >
    <input type="hidden" name="search_action" value='{{ url('pp_request_homepage', {}, true) }}' />
    
    <input ng-focus="header.showSearchOptions()" name="name" type='text' class="main-search stopPropagation" ng-model='filters.searchQuery' searchQueryname='search_query' placeholder="Find pictures, requests or users on Prestapic..." />
       
    <div class="search-options-list" style="display:none;" id="searchUser" class="stopPropagation">
        <ul>
            <li>
                <a href="{{ path('pp_user_search') }}?name={% verbatim %}{{ filters.searchQuery }} {% endverbatim %}" target="_self">
                    <div class="avatar">{% verbatim %}{{ filters.searchQuery | limitTo: 1 }}{% endverbatim %}</div>
                    <div class="infos-search">Search <strong>{% verbatim %}{{ filters.searchQuery }}{% endverbatim %}</strong> in users...</div>
                </a>
            </li>
            <li>
                <a href="" class="infos-all-search" >
                    Show all results for <strong>{% verbatim %}{{ filters.searchQuery }}{% endverbatim %}</strong>...
                </a>
            </li>
    </div>

    <ul style="display: none;" id="searchOptions" class="search-options stopPropagation" >
        <li class="option">
            <a id="filterButton" ng-click="header.showFilterList()" class="filters" href="" title="Filters"></a>

            <div id="filterList" class="filter-choose-category">
                <div class="filter-choose-text">in</div>
                <div class="filter-select">
                    <select class="filter-choose-list">
                        <option value="default" disabled="disabled" selected="selected">a category</option>
                        {% for category in categories %}
                            <option id="cat_{{category.id}}" ng-click="filters.addCategory({{category.id}}, '{{ category.name }}')" value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </li>
        <li class="option">                        
            <button type="submit" class="go-search" ></button>
        </li>
    </ul>                
</form>