<div class="messages stopPropagation">
    <div class="container" >    
        <base href=" " />    
        {% verbatim %}
        <div class="message" >
            <div id="inboxBlock" ng-controller="inboxController as inbox" class="inbox">
                <div class="inbox-top">
                    Inbox
                    <a class="button new-message" id="searchButton" href="">New PM</a>
                    <button class="button-close buttonCloseMessage">×</button>
                </div>
                {% endverbatim %}{{ form(getCurrentUserForm) }}{% verbatim %}
                    <!--   track by $index -->
                <ul class="list-mess">
                    <li ng-repeat="thread in currentUser.threadList track by $index | orderBy:'lastMessageDate':true " ng-if="thread.target.name" class="message" >                         
                        <a href="" ng-click="inbox.gotToConversation(thread)"  ng-class="{open: thread.id == currentUser.selectedThreadId}" >
                            <div class="avatar">
                                <img ng-src="{{ thread.target.image }}">
                            </div>
                            <div class="desc">
                                <div class="name">{{ thread.target.name }}</div>
                                <div class="last-message">
                                    <span ng-if="thread.lastMessage.messageFromUs">You: </span>
                                    {{ thread.lastMessage.content | limitTo: 21 }}
                                    <span ng-if="thread.lastMessage.content.length > 22">...</span>
                                </div>
                                <span class="dot new"></span>
                            </div>
                            <span ng-if="thread.haveNewMessage"></span>
                        </a>
                    </li>
                </ul>                        
            </div>

            <div id="searchBlock" ng-controller="searchController as search" class="search-box" style="display: none;">
                <div class="inbox-top">
                    Inbox
                    <a class="button new-message" id="cancelSearchButton" href="">Cancel</a>
                </div>
                <form action="{% endverbatim %}{{ path('pp_user_api_get_search_user') }}{% verbatim %}" name="pp_user_api_get_search_user_form">
                    <input autocomplete="off" placeholder="Type an username here..." class="search-box-input" type="text" name="search" ng-model="search.search" ng-change="search.searchUser()"/>
                </form>                
                <ul>
                    <li ng-repeat="user in userSearchList" class="search-box-user">
                        <a href="" ng-click="search.getThread(user)">
                            <img class="avatar" ng-src="{{ user.image }}" />{{ user.name }}
                        </a>
                    </li>
                </ul>
            </div>

            <div id="chatContainer" ng-controller="chatController as chat" class="chat-container" >
                <div class="chat-top">
                    <a ng-click="chat.backToInbox()" class="back-list" href="">Back</a>
                    <div class="chat-name" id="chatTitle"></div>
                    <button class="button-close buttonCloseMessage">×</button>
                </div>

                <div id="conversation" class="chat-conversation">
                    <div ng-show="!currentUser.threadList[currentThread.id].messageList.length && !firstMessage" class="chat-scroller" id="no_message">
                        <h2>No message yet</h2>
                    </div>
                    <div class="chat-scroller" id="chat_scroller">                        
                        <a href="" ng-if="currentUser.threadList[currentThread.id].messageList.length % 20 == 0" class="chat-more" ng-click="chat.loadMore()">load more</a>
                        <div ng-if="firstMessage">
                            You haven't talk with {{ currentThread.target.name }} yet !
                        </div>
                        <div  ng-repeat="message in currentUser.threadList[currentThread.id].messageList" >
                            <div ng-if="message.messageFromUs" class="message me">
                                <div class="message-content" style="white-space: pre;" ng-bind-html="message.content | linky">
                                    {{ message.content }}
                                </div>                         
                            </div>

                            <div ng-if="!message.messageFromUs" class="message">
                                <div class="message-content" style="white-space: pre;" ng-bind-html="message.content | linky ">
                                    {{ message.content }}
                                </div>
                                <a target="_self" href="{{ message.author.url }}" class="avatar" ng:class="{true:'avatar last', false:'avatar'}[!currentUser.threadList[currentThread.id].messageList[$index+1] || currentUser.threadList[currentThread.id].messageList[$index+1].messageFromUs]">
                                    <img ng-src="{{ message.author.image }}">
                                </a>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div ng-show="currentThread.id || firstMessage" id="chatComposer" class="chat-composer" style="overflow: hidden; padding: 0px; min-height: initial;">                    
                    <form>
                        <textarea row="1" style="height:1em;
                                                align-self: flex-end;
                                                overflow: hidden;
                                                padding: 15px;
                                                outline: none;    
                                                resize: none;" 
                        id="chatTextArea" placeholder="Type your text here ..."  name="message_value" ng-model="messageContent"></textarea>
                        <button style="margin: 15px;" type="submit" ng-click="chat.callSendMessage()">Send</button>
                    </form>
                </div>
            </div>
        </div>
        {% endverbatim %}

    </div>
</div>

