<div class="messages stopPropagation">
    <div class="container" >    
        <base href=" " />    

        <div class="message-top">
            <div class="inbox-top">
                Inbox
            <a id="searchButton" class="new-message" href=""></a>
            </div>
            <div class="chat-top">
                  <div class="chat-name" id="chatTitle"></div>
                  <button id="buttonCloseMessage" class="button-close">×</button>
            </div>
        </div>


        {% verbatim %}
        <div class="message-bottom" >
            <div id="inboxBlock" ng-controller="inboxController as inbox" class="inbox">
                {% endverbatim %}{{ form(getCurrentUserForm) }}{% verbatim %}
                <ul class="list-mess">
                    <li ng-repeat="thread in currentUser.threadList track by $index" ng-if="thread.target.name" class="message" >                    
                        <a href="" ng-click="inbox.gotToConversation(thread)"  ng-class="{open: thread.id == currentUser.selectedThreadId}" >
                            <div class="avatar">
                                <img ng-src="{{ thread.target.image }}">
                            </div>
                            <div class="desc">
                                <div class="name">{{ thread.target.name }}</div>
                                <div class="last-message"><span ng-if="thread.lastMessage.messageFromUs">You: </span>{{ thread.lastMessage.content | limitTo: 23 }}</div>
                                <span class="dot new"></span>
                            </div>
                            <span ng-if="thread.haveNewMessage"></span>
                        </a>
                    </li>
                </ul>                        
            </div>

            <div id="searchBlock" ng-controller="searchController as search" style="display: none;  background: #fafafa; width: 300px; border-right: 1px solid #ccc; ">            
                <h2>Search</h2>                        
                <form action="{% endverbatim %}{{ path('pp_user_api_get_search_user') }}{% verbatim %}" name="pp_user_api_get_search_user_form">
                    <input type="text" name="search" ng-model="search.search" ng-change="search.searchUser()"/>
                </form>                
                <ul>
                    <li ng-repeat="user in userSearchList" >
                        <a href="" ng-click="search.getThread(user)">
                            <img width="50" heigth="50" class="avatar" ng-src="{{ user.image }}" />{{ user.name }}
                        </a>
                    </li>
                </ul>
            </div>

            <div ng-controller="chatController as chat" class="chat-container" >
                <div id="conversation" class="chat-conversation">
                    <div class="chat-scroller">
                        <a href="" class="chat-more" ng-click="chat.loadMore()">load more</a>
                        <div  ng-repeat="message in currentUser.threadList[currentThread.id].messageList" >
                            <div ng-if="message.messageFromUs" class="message me">
                                <div class="message-content" ng-bind-html="message.content | linky ">
                                    {{ message.content }}
                                </div>
                                <div class="avatar" >
                                    <img  ng-if="!currentUser.threadList[currentThread.id].messageList[$index+1].messageFromUs" ng-src="{{ currentUser.image }}">
                                </div>                            
                            </div>

                            <div ng-if="!message.messageFromUs" class="message">
                                <div class="message-content" ng-bind-html="message.content | linky ">
                                    {{ message.content }}
                                </div>
                                <div class="avatar">
                                    <img  ng-if="!currentUser.threadList[currentThread.id].messageList[$index+1]" ng-src="{{ message.author.image }}">
                                    <img  ng-if="currentUser.threadList[currentThread.id].messageList[$index+1].messageFromUs" ng-src="{{ message.author.image }}">
                                </div>
                            </div>
                        </div>
                        <div ng-show="!currentUser.threadList[currentThread.id].messageList.length">No message yet</div>
                    </div>
                </div>
                <div class="chat-composer">                    
                    <form>
                        <textarea  id="chatTextArea" placeholder="Type your text here ..."  name="message_value" ng-model="messageContent"></textarea>
                        <button type="submit" ng-click="chat.callSendMessage()">Send</button>
                    </form>
                </div>
            </div>
        </div>
        {% endverbatim %}

    </div>
</div>

